header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    padding: 20px 10px;
    border-bottom: solid 1px #1EA83C;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    nav{
        display: none;
        background-color: #1EA83C;
        width: 150px;
        height: 200px;
        z-index: 1;
        transition: width 1s ease;
       
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 3.5s;
    
          
          @-webkit-keyframes fade {
            from {opacity: .2}
            to {opacity: 1}
          }
          
          @keyframes fade {
            from {opacity: .2}
            to {opacity: 1}
          }



        a{
            padding: 10px 0;
            color: #fff;
            display: block;
            
            &:hover {
                text-decoration: underline;
                color: #f1f1f1;
            }
        }
        .closebtn{
            transition: width 0.8s ease;
            cursor: default;
            font-size: 35px;
            float: right;
            margin: 0 20px 0 0;
            &:hover {
                text-decoration: none;
                color: #f1f1f1;
            }
        }
    }
    .fa-bars{
        display: block;
    }
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10em 0 0 0;
    width: 100%;
    height: auto;
    strong{
        animation-name: free;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-out;
    }
    @keyframes free{
        0%{color:#1EA83C ;}
        100%{ color:#2F2E41 ;}
    }
    p{
        width: 170px;
        height: 50px;
    }
    span{
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        a{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            color: white;
            width: 45%;
            height: 50px;
            margin: 0 0 20px 0;
            span{
                display: flex;
                flex-direction: column;
            }
        }
        .btn-success{
            background-color: #1EA83C;
        }
        .btn-dark{
            background-color: #2F2E41;
        }
    }
    img{
        width: 155px; 
        height: 158px;
    }
}
.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 5em 10px 0 10px;
    .middleText{
        display: none;
    }
    div{
        span{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            img{
                display: block;
                margin: auto;
            }
        }
    }
}


.features{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 5em 10px 0 10px;
    .featureInvestment{
        margin-bottom: 0;
    }
    .money{
        display: none;
    }
}
.sellingPoint{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 5em 10px 0 10px;
    
    svg{
        display: none;
    }
    h3{
        text-align: center;
        color: #1EA83C;
    }
    a{
        display: none;
    }
    img{
        display: block;
        margin: auto;
    }
}
.feedback{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 5em 10px 0 10px;
    .img{
        display: block;
        margin: auto;
    }
    .blackMan{
        display: flex;
        flex-direction: column-reverse;
    }
}
.download{
    background-color: #1EA83C;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 5em 10px 0 10px;
    span{
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            width: 45%;
            height: 40px;
            margin: 0 0 20px 0;
            padding: 20px 5px;
            span{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }
        }
        .btn-success{
            background-color: #1EA83C;
        }
        .btn-dark{
            background-color: #2F2E41;
        }
    }
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 5em 10px 0 10px;
    color: #2F2E4180;
    .footerNav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    a{
        color: #2F2E4180;
        margin: 30px 15px;
    }
    .foot{
        margin: 20px 0 50px 0;
    }
}

